.product{
    margin-top: 30px;
}
.product-photo{
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}
.product-info{
    padding-left: 20px;
    padding-bottom: 30px;
}
.product-button{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #1F9C50;
    border-radius: 5px;
    background-color: #1F9C50;
    color: white;
}
.product-link{
    text-decoration: none;
    margin-left: 20px;
}

@media screen and (min-width: 600px) {
    .product-card{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .product-button{
        display: inline-block;
        margin-top: 20px;
    }
}