.product{
    margin-top: 30px;
}
.product-photo{
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}
.product-info{
    padding-left: 20px;
    padding-bottom: 30px;
}
.product-button,
.shopping-button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #1F9C50;
    border-radius: 5px;
}
.product-button{
    background-color: #1F9C50;
    color: white;
    margin-right: 10px;
}
.shopping-button{
    background-color: white;
    color: #1F9C50;
}
.shopping-unavailable-button{
    background-color: gray;
    color: white;
}
.product-button:hover,
.shopping-button:hover{
    cursor: pointer;
}
.product-button:hover{
    background-color: white;
    color: #1F9C50;
}
.product-link{
    text-decoration: none;
}
.product-available{
    color: #1F9C50;
}
.product-unavailable{
    color: red;
}
@media screen and (min-width: 600px) {
    .product-card{
        display: grid;
        grid-template-columns: 60% 40%;
    }
}
@media screen and (min-width: 900px) {
    .product-photo{
        width: 500px;
        height: 500px;
    }
 
}