.nav{
    background-color: #1F9C50;
    height: 60px;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.nav-left{
    padding-left: 10px;
}
.nav-icon{
    position: relative;
    top: 20px;
    right: 35px;
    font-size: 24px;
    color: white;
}
.cart-item{
    position: relative;
    top: -20px;
    right: 15px;
    background-color: black;
    padding: 3px 8px;
    border-radius: 30%;
    color: white;
}