.productTemplate-card{
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 10px grey;
    padding: 10px;
    margin: 10px;
}
.productTemplate-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productTemplate-photo img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.productTemplate-info{
    padding-top: 20px;
    padding-left: 15px;
}
.productTemplate-brand{
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase; 
}
.productTemplate-link{
    text-decoration: none;
}
.productTemplate-button{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    border: 1px solid #1F9C50;
    border-radius: 5px;
    background-color: #1F9C50;
    color: white;
    text-transform: uppercase;
}
.productTemplate-soldout{
    color: rgb(240, 240, 240);
    background-color: rgb(198, 198, 198);
    text-align: center;
    font-size: 15px;
    padding: 10px 60px;
    text-transform: uppercase;
    border-radius: 5px;
}
.productTemplate-button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #1F9C50;
}