.products-card{
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 10px grey;
    padding: 10px;
    margin: 10px;
}
.products-photo{
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}
.products-info{
    padding-top: 20px;
    padding-left: 15px;
}
.products-brand{
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase; 
}
.products-link{
    text-decoration: none;
}
.products-button{
display: block;
margin: 0 auto;
width: 100%;
padding: 10px 0;
font-size: 15px;
border: 1px solid #1F9C50;
border-radius: 5px;
background-color: #1F9C50;
color: white;
text-transform: uppercase;
}
.products-soldout{
color: rgb(240, 240, 240);
background-color: rgb(198, 198, 198);
text-align: center;
font-size: 15px;
padding: 10px 60px;
text-transform: uppercase;
border-radius: 5px;
}
.products-button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #1F9C50;
}